:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
}

#date-n-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14.5em;
    font-size: .7em;
}

#divider {
    border-left: 1px solid black;
    width: 1px;
    height: 15px;
}

header h2 {
    font-weight: 400;
}

form {
    display: flex;
    align-items: center;
    text-align: center;
}

#location-input {
    border: 1px solid black;
    border-radius: 10px;
    width: 40vw;
    height: 3em;
    font-size: .8em;
    padding-left: .8em;
}

#input-submit {
    margin-left: -40px;
    border: none;
    background-color: transparent;
    display: flex;
}

#unit-toggle {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#unit-toggle button {
    font-size: .8em;
    padding: 5px;
    width: 2.5em;
    display: flex;
}


/* MAIN */
main {
    display: grid;
    grid-template-rows: 5fr 3fr;
}

#todays-forecast {
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
}

#main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

#main-info h3 {
    margin: 0;
    font-size: 5em;
    font-weight: 400;
}

#main-info h4 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

#high-low {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    font-weight: 300;
}

#sun-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

#sunrise, #sunset {
    display: flex;
    align-items: center;
}

#sunset p, #sunrise p {
    margin-left: 12px;
    font-weight: 400;
}

#sunrise {
    margin-right: 30px;
}


/* HOURLY FORECAST */

#hourly-forecast {
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hourly-forecast-container {
    display: flex;
    overflow-x: hidden;
    overflow-x: scroll;
    margin-bottom: 2em;
    padding: 3px;
    width: 80vw;
}

#hourly-forecast h2 {
    margin-left: 3em;
    align-self: flex-start;
}

.hour-card {
    flex: 0 0 auto;
    height: 100%;
    width: 125px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.card-time {
    font-size: 15px;
    margin-bottom: 40px;
}

.card-temp {
    font-size: 20px;
}

#daily-forecast {
    background-color: green;
    height: 300px;
    grid-row: 2 / -1;
}

#daily-forecast h2 {
    margin-left: 1.5em;
    font-weight: 500;
}




